*{
    margin:0px;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: black; 
    color: white;
}


#particles-js {
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; 
    background: transparent; 
}

.container, #home, #about, #skills, #projects, #contact {
    position: relative;
    z-index: 1; 
    padding: 50px; 
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #111; 
    color: #fff;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/*#logo {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}*/

/*#logo img {
    width: 40px; 
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}*/

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 0;
    transition: 0.3s;
    position: relative;
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #f55268; /* Pinkhighlight */
}

.nav-links li a.active::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background: #f55268;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#dark-mode-toggle {
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
}

p{
    color: white;

}
#introduction{
    font-size: 2em;
    color: white;
    font-style: bold;
    size: 20px;
}
#home{
    margin-top: 0px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background: transparent;
 
}
#about{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 10%;
   /* background-color: antiquewhite;*/
}
.about-text{
    width:45%;
}
.about-hobbies{
    padding-top: 0px;
    width:45%;
}
#cards{
    display: flex;
    gap: 20px;
}

#projects {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.projects-title {
    color: #f55268;  /* Pink color */
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}
.project-card {
    perspective: 1000px;
    width: 300px;
    height: 200px;
}

.project-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.project-card:hover .project-inner {
    transform: rotateY(180deg);
}

.project-front, .project-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
   /* display: flex;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.project-front {
    background: rgba(255, 255, 255, 0.1);
    color: white;

}

.project-back {
    background: rgba(255, 255, 255, 0.2);
    transform: rotateY(180deg);
}

.project-back img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.project-back a, .project-front a {
    color: #f55268;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-top: 0px;
}
.project-front a {
    margin-top: 20px;
}

footer{
    height: 50vh;
   /*background-color:rgba(57, 55, 55, 0.5);*/
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0), hsl(353, 61%, 19%));
  /* backdrop-filter: blur(2px); */
  
}
#icons{
    padding-top:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap:20px;
 
}
img{
    width: 400px;
}

#skills {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background-color: aqua;*/
}

#skills h2 {
    font-size: 3em;
    color: #f55268;
}

.skill {
    font-size: 1.25em;
    padding: 12px;
    border-radius: 8px;
    background-color:rgba(70, 68, 68, 0.5);;
    color: #fff;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.skill:hover {
    background-color:#f55268;
    transform: scale(1.05);
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
    margin-top: 30px;
}
#rights{
    display:flex;
    justify-content: center;
    text-align: center;
    padding-bottom:10px;
}
#tel{
   
    display:flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    #skills {
        height: auto;
        padding: 30px;
    }

    .skill-list {
        grid-template-columns: 1fr 1fr;
    }

    #skills h2 {
        font-size: 2.5em;
    }
}